*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    background-color: rgb(245, 245, 245);
    color: rgb(18, 89, 22);
    margin: 2rem;
    overflow-x: hidden;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: baseline;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 420px;
    justify-content: space-between;
}
.title span{
    font-size: 1rem;
    font-weight: 700;
}
.title img{
    height: 90px;
}
.nav-menu{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    transform: translateY(-8px);
    z-index: 10;
}
.nav-menu li{
    cursor: pointer;
    border-radius: 80px;
    border: 1px solid rgb(18, 89, 22);
    padding: 5px 10px;
}
.nav-menu li:hover{
    background-color: rgb(18, 89, 22);
    color: rgb(245,245,245);
}
.hamburger{
    display: none;
    width: 40px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider{
    position: relative;
    width: fit-content;
}
.slider p{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: max-content;
    text-wrap: pretty;
    height: fit-content;
    text-align: center;
    opacity: 0;
    font-size: 0.8rem;
    animation: slideAnimation 10s infinite;
}
.slider p:nth-child(1) {
    animation-delay: 0s;
}
.slider p:nth-child(2) {
    animation-delay: 5s;
}
.slideshow {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.slideshow img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}
.slideshow p{
    position: absolute;
    top: 20%;
    width: 100%;
    text-wrap: pretty;
    height: fit-content;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    animation: slideAnimation 12s infinite;
}
.slideshow p:nth-child(1) {
    animation-delay: 0s;
}
.slideshow p:nth-child(2) {
    animation-delay: 4s;
}
.slideshow p:nth-child(3) {
    animation-delay: 8s;
}
@keyframes slideAnimation {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}
#mezziInfo{
    display: none;
    align-items: flex-start;
    justify-content: space-between;
}
.flexrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.flexcol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.add{
   justify-content: flex-end;
}
#mezziDisponibili{
    width: 100%;
}
#mezziDisponibili > p{
    font-weight: 700;
    margin-bottom: 1rem;
}
.idBox{
    flex-wrap: wrap;
    width: fit-content;
}
.table{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.bg-colored{
    background-color: rgb(241, 10, 139);
    color: rgb(245, 245, 245);
    padding: 3px 5px;
    border-radius: 3px;
}
select{
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
    width: fit-content;
    border: none;
    padding: 3px 5px;
    background-color: rgb(165, 189, 167);
    color: rgb(18, 89, 22);
    border-radius: 1rem;
    font-size: 1rem;
    margin-left: 3px;
    z-index: 1;
}
select:active{
    outline: none;
}
button{
    font-family: "Comfortaa", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    line-height: 0;
}
button img{
    width: 1.2rem;
    height: 1.2rem;
}
p{
    font-size: 1rem;
    line-height: 1.5;
    margin: 3px 0;
    width: fit-content;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(245,245,245,0.5);
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.2);
    border-radius: 1rem;
    z-index: 1000;
}
.close{
    cursor: pointer;
    float: right;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 3rem;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}





@media (max-width: 1024px){
    .add{
        flex-direction: row;
        height: auto;
        width: 100%;
        justify-content: space-between;
        margin-left: 1rem;
    }
}
@media (max-width: 868px){
    .nav-menu{
        display: flex; /*none*/
        flex-direction: column;
        align-items: flex-end;
        background-color: rgb(165, 189, 167);
        position: absolute;
        top: 100%;
        transform: translateY(0%);
        right: 0;
        width: max-content;
        padding: 10px;
        border-radius: 3px;
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    .nav-menu li{
        margin: 10px 0;
    }
    .hamburger{
        display: block;
    }
}
@media (max-width: 640px){
    .slideshow p{
        top: 5%;
        font-size: 1.3rem;
    }
    #mezziInfo{
        display: flex;
        flex-direction: column;
    }
    .add{
        margin-left: 0;
        margin-top: 1rem;
    }
    .title{
        flex-direction: column;
        align-items: flex-start;
    }
    .title span{
        margin-left: 3px;
        margin-top: 1rem;
    }
    .popup{
        width: 70%;
    }
}
@media(max-width: 480px){
    body{
        margin: 0;
    }
    nav{
        margin: 2rem;
    }
    .slideshow p{
        padding: 0 1rem;
        width: auto;
    }
    #mezziInfo{
        margin: 0 2rem 2rem;
    }
    .slider p{
        width: 180px;
    }
}
@media (max-width: 400px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    .nav-menu{
        align-items: center;
        top: 100%;
        transform: translateY(0%);
        right: 50%;
        transform: translateX(50%);
        width: max-content;
    }
    .title{
        align-items: center;
        margin-bottom: 2rem;
        width: 100%;
    }
    .add{
        flex-direction: column;
        height: 100px;
        width: 100%;
        margin-top: 2rem;
    }
    .rimuoviMezzoBtn{
        padding: 0;
        padding-left: 1rem;
    }
    .idBox{
        flex-direction: column;
        align-items: flex-start;
    }
}